<% provide(:title, "Top") %>


  <div class="row">
    <div class="col-md-7">
    　<div class="center jumbotron" id="top-main">
      　<h1 id="top-main-title">TaskApp</h1>
        <p>TaskAppは簡易ToDo管理ツールです。</p>
        <p>↓↓初めてのご利用↓↓</p>
        <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-success" %>
    　</div>
    </div>
        
    <div class="col-md-4">
      <h1>ログイン</h1>
      <form>
        <label class="label-form" for="session_email">メールアドレス</label>
        <input class="form-control" type="email" name="session[email]">
        
        <label class="label-form" for="session_password" name="session_password">パスワード</label>
        <input class="form-control" type="password" name="session[password]">
        
        <label class="checkbox inline checkbox-login" for="remember-me">
          <input id="remember-me" type="checkbox" value="1" name="session[remember-me]">
          <span>ログイン情報を記憶する</span>
        </label>
        <!--未実装　今はログイン画面へ-->
    <%= link_to "Log In", login_path, class: "btn btn-primary btn-block btn-form" %>
      </form>
    </div>
  </div>
        
</div>
      
    　  
      

  
    

  <!--<h1>サンプルアプリ</h1>-->
  <!--<p>-->
  <!--  皆さんの手で、この最低限の土台となるアプリケーションから<br>-->
  <!--  タスク管理機能を持ったアプリケーションへと作り替えていきましょう！-->
  <!--</p>-->

  <!--<p>現在このアプリケーションには、以下の機能が備わっています。</p>-->

  <!--<ul>-->
  <!--  <li>ルートURLに対応したトップページ（このページです）</li>-->
  <!--  <li>ユーザー機能-->
  <!--    <ol>-->
  <!--      <li>名前・メールアドレス・パスワード・ログイン認証用のカラムを持ったUserモデル</li>-->
  <!--      <li>ユーザー新規登録と対応したページ</li>-->
  <!--    </ol>-->
  <!--  </li>-->
  <!--  <li>ログイン機能-->
  <!--    <ol>-->
  <!--      <li>セッションによる一時的ログイン機能</li>-->
  <!--      <li>Cookiesによる永続的ログイン機能</li>-->
  <!--    </ol>-->
  <!--  </li>-->
  <!--</ul>-->
  <!--<p>実質【勤怠チュートリアル第７章】までの機能を持ったアプリケーションとなります。</p>-->